
body {
    margin:0;
    padding:0;
    width: 100%;
    height:100%;
    font-size: 18px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color:#FF00FF;
}

header {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10% 0 10%;
    border: 1px solid #00FF00;

}

a {
    text-decoration:none;
    color: #E5E7EB;
}

h3 {
    font-size: 24px;
}

nav ul li{
    display:inline-block;
    padding: 0 0 0 20px;
}

#one {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    padding: 0 10% 0 10%;
}

#two {
    color: #1F2937;
    padding: 0 10% 0 10%;
}

#three {
    background-color:#E5E7EB;
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
    padding: 0 10% 0 10%;
}

#four {
    color:#FFF;
    padding: 0 10% 0 10%;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 0 10% 0 10%;
    text-align: center;
}