
body {
    margin:0;
    padding:0;
    width: 100%;
    height:100%;
    font-size: 18px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

header {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25% 0 25%;

}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

a {
    text-decoration:none;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

h2{
    font-size:36px;
    font-weight: 900;
    margin: 0 0 50px 0;
}

h3 {
    font-size: 24px;
}

p {
    padding:5px;
    margin: 0px;
}

nav ul li{
    display:inline-block;
    padding: 0 0 0 20px;
}

content {
    display:flex;
    flex-direction: column;
    justify-content:space-around;
}

section {
    padding: 0 25% 0 25%;
}

#one {
    background-color: #1F2937;
    color: #E5E7EB;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5%;
    padding-top: 6%;
    padding-bottom: 7%;
}

.hero-blurb {
    padding: 5% 0 5% 0;
}

.hero-imageholder {
    background-color:#6D747D;
    text-align: center;
    align-content: center;
}

#two {
    text-align: center;
    color: #1F2937;
    padding-top: 4%;
    padding-bottom: 7%;
}

.info-item-container{
    display:grid;
    grid-template-columns: 18% 18% 18% 18%;
    justify-content:center;
    gap: 30px;
}

.info-item-container div, .info-item-container p {
    border-radius: 15px;
}

.info-item-container div{
    margin: auto;
}

.info-image{
    margin: 5px;
    border: 4px solid #3882F6;
    width: 155px;
    height: 155px;

}

#three {
    background-color:#E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    padding-top: 10%;
    padding-bottom: 7%;
}

#three p{
    padding: 0 8% 0 8%;
}

.signature {
    font-size: 24px;
    font-style: normal;
    font-weight:800;
    text-align: right;
}


#four {
    color:#FFF;
    padding-top: 5%;
    padding-bottom: 5%;
}

.action-container{
    display: flex;
    background-color:#3882F6;
    border-radius: 10px;
    padding: 2% 10% 2% 10%;
    justify-content: space-between;
    align-items:center;
}

.action-container h3 {
    margin:5px;
    padding:0;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    text-align: center;
}

